body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result {
    grid-row: 1;
    background-color: #fff;
    padding: 30px;
    font-size: 2em;
    text-align: right;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    overflow: hidden;
}

.buttons {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15%;
}

.number {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.operator {
    background-color: #000;
    color: #fff;
}

.number:hover {
    background-color: #0e6a83;
}

.operator:hover {
    background-color: greenyellow
}

.red {
    background-color: red;
}